
.statusText {
	font-size: 14px;
	/*font-family: Arial;*/
	margin-left: 10px;
	font-weight: bold;
	position: relative;
	top: -2px;
}

.done {
	opacity: 1;
	margin-left: -1px;
}

.pending {
	opacity: 0.3;
	margin-left: -1px;
}

.row {
	display: flex;
	flex-direction: row;
}

.absolutePosition {
	position: absolute;
}

.showNumber {
	position: relative;
	top: -10px;
	font-size: 14px;
	visibility: visible;
}

.hideNumber {
	visibility: hidden;
}

.imageWidth {
	width: 15px;
	cursor: pointer;
}