
.questionText, .questionId {
	font-size: 18px;
	font-family: Arial;
	margin-left: 10px;
	font-weight: bold;
	text-align: left;
}

.questionText {
	margin-left: 60px;
	width: 600px;
}

.questionId {
	color: gray;
}

.row, .rowImage {
	display: flex;
	flex-direction: row;
}

.rowImage {
	height: 28px;
}

.buttonRow {
	display: flex;
	flex-direction: row;
	justify-content: start;
	margin-top: 25px;
}

.space {
	padding-top: 20px;
	margin-left: 80px;
}

.answerText {
	text-align: left;
	font-size: 14px;
	font-family: Arial;
	margin-left: 60px;
}

.button {
	color: white;
	background-color: #5279ea;
	border: none;
	border-radius: 4px;
	padding: 2px 8px 2px 8px;
	margin-right: 5px;
}

.button:hover {
	font-weight: bold;
}

.fixedHeight {
	height: 250px;
}


.leftSpace {
	margin-left: 10px;
}

.noAnswer {
	color: red;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}

.answerSpace {
	margin-left: 100px;
	height: 28px;
}

.reviewImage {
	width: 100px;
}

.explanation {
	margin-top: 15px;
	max-width: 600px;
	display: flex;
	flex-direction: row;
}

.attemptInstruct {
	text-align: left;
	font-size: 14px;
	font-family: Arial;
}